<!DOCTYPE html>
<html lang="en">
  
<head>
    
</head>
<body style="height: 4000px;"> 
    <router-outlet></router-outlet>
    <div class="header">
        <h1 class="title">Mihai & Gabi Stocks Info</h1>
    </div>


    <!-- <div class="container">
        <h1>Bine ati venit rau ati nimerit</h1>
    </div> -->
  

    <div style="text-align: right;">
        <button class="fetch-button" (click)="navigateToSavedStocks()">Go to Saved Stocks</button>
    </div>

    <button class="fetch-button" (click)="getByDate(selectedYear + '-' + selectedMonth + '-' + selectedDay)">Fetch Stocks by Date</button>
    <button class="fetch-button" (click)="get()">Fetch Today's Stocks</button>

    <div class="date-selector">
        <select class="year-select" [(ngModel)]="selectedYear" (change)="onDateChange()">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
        <select class="month-select" [(ngModel)]="selectedMonth" (change)="onDateChange()">
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
        </select>
        <select class="day-select" [(ngModel)]="selectedDay" (change)="onDateChange()">
            <option *ngFor="let day of days" [value]="day">{{ day }}</option>
        </select>
    </div>

    <div class="data-table">
        <ng-container *ngIf="dataFetched">
            <!-- Render header row only if data is fetched -->
            <div class="header-row">
                <div class="table-cell"><h2>Number of Comments</h2></div>
                <div class="table-cell"><h2>Sentiment</h2></div>
                <div class="table-cell"><h2>Sentiment Score</h2></div>
                <div class="table-cell"><h2>Ticker</h2></div>
            </div>
        </ng-container>
        <ng-container *ngFor="let stock of stocks">
            <div class="table-row">
                <div class="table-cell">{{ stock.no_of_comments }}</div>
                <div class="table-cell">{{ stock.sentiment }}</div>
                <div class="table-cell">{{ stock.sentiment_score }}</div>
                <div class="table-cell">{{ stock.ticker }}</div>
                <button class="save-button" (click)="saveStock(stock)">Save Stock</button>
            </div>
        </ng-container>
    </div>

    <!-- Button container -->

    <!-- This is where the components for different routes will be rendered -->
</body>
</html>
