<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mihai & Gabi Stocks Info</title>
    <link rel="stylesheet" href="app.component.css"> <!-- Link to your CSS file -->
</head>
<body style="height: 4000px;">
    <div class="header">
        <h1 class="title">Mihai & Gabi Stocks Info</h1>
    </div>
    <button class="fetch-button" (click)="get()">Fetch Stocks</button>
    <div class="data-table">
        <ng-container *ngIf="dataFetched"> <!-- Render header row only if data is fetched -->
          <div class="header-row">
            <div class="table-cell"><h2>Number of Comments</h2></div>
            <div class="table-cell"><h2>Sentiment</h2></div>
            <div class="table-cell"><h2>Sentiment Score</h2></div>
            <div class="table-cell"><h2>Ticker</h2></div>
          </div>
        </ng-container>
        <ng-container *ngFor="let stock of stocks">
          <div class="table-row">
            <div class="table-cell">{{ stock.no_of_comments }}</div>
            <div class="table-cell">{{ stock.sentiment }}</div>
            <div class="table-cell">{{ stock.sentiment_score }}</div>
            <div class="table-cell">{{ stock.ticker }}</div>
            <button class="save-button"  (click)="saveStock(stock)">Save Stock</button>
          </div>
        </ng-container>
      </div>
      
      
      
</body>
</html>
